body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, "Arial", sans-serif;
  background-color: #849d8f;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  max-width: 1146px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slider-item2.png);
}

.site-wrapper::after {
  background-image: url(../img/slider-item3.png);
}

.slider {
  position: relative;
  padding-top: 270px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  cursor: pointer;
}

.slide-button {
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-item2.png);
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-item3.png);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

li {
  display: list-item;
  list-style: none;
}

a,
.header-contacts {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
}

.site-navigation {
  width: 385px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: underline;
  display: flex;
  align-items: flex-start;
  margin: 0 0 -3px;
  justify-content: space-around;
  padding: 0;
  align-items: center;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 310px;
}

.user-navigation>li:first-child {
  margin-left: 22px;
}

.user-navigation li:not(:last-child) {
  margin-right: 12px;
}

.search-panel:hover .search-field,
.catalog-item:hover .catalog-navigation,
.login-link:hover .login-form,
.fill-cart:hover .cart-content {
  display: block;
}

.login-form {
  position: absolute;
  right: -3px;
  top: 45px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  list-style: none;
  background: #f8f7f4;
}

.login-item {
  margin: 0 0 20px;
  padding: 0;
}

.login-form input {
  width: 212px;
  padding: 12px;
  font: inherit;
  color: #323232;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.links-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.links {
  margin: 0 0 0 17px;
}

.login-form-forget,
.login-form-sin-up {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  background: 0 0;
}

.button .login {
  padding: 10px 23px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.search-field {
  position: absolute;
  right: 0;
  top: 47px;
  display: none;
  margin: 0;
  padding: 20px 15px;
  border-radius: 5px;
  list-style: none;
  background-color: #f8f7f4;
}

.user-navigation>li:first-child {
  margin-left: 22px;
}

.user-navigation li:not(:last-child) {
  margin-right: 12px;
}

.search-panel {
  position: relative;
  margin-bottom: 3px;
  padding-top: 16px;
  padding-bottom: 12px;
}

.search-panel a {
  padding: 7px;
  border-radius: 50%
}

.search-button {
  width: 33px;
  height: 33px;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
}

.cart-button,
.login-button,
.search-button {
  padding: 8px 35px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .2);
}

.fill-cart>a {
  color: #323232;
  background-color: #fff;
}

.cart-button {
  padding-right: 15px;
}

.cart-button,
.login-button {
  position: relative;
  padding-left: 43px;
}

.fill-cart .cart-button::before {
  padding-top: 16px;
  padding-bottom: 12px;
  background-image: url(../img/basket-red.svg);
}

.cart-button::before,
.empty-cart .cart-button::before {
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-content {
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 10px 15px;
  width: 510px;
  border-radius: 5px;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.cart-content>li {
  display: flex;
  flex-direction: column;
}

.Ñart-table {
  margin: 0;
  padding: 0;
  width: 520px;
  min-height: 107px;
  list-style: none;
}

.cart-item,
.cart-item a {
  display: flex;
  color: #323232;
}

.cart-item {
  position: relative;
  min-height: 51px;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
}

.delete-cart-item {
  position: absolute;
  left: -2px;
  top: 25px;
  width: 9px;
  height: 9px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.cart-order-button {
  align-self: flex-end;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.delete-cart-item::after,
.delete-cart-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 1px;
  background-color: #231f20;
}

.cart-cost span,
.cart-item-img {
  margin-right: 14px;
  margin-left: 25px;
}

.cart-item-cost,
.cart-item-title {
  margin-right: 30px;
}

.cart-item-title {
  display: block;
  width: 217px;
}

.cart-item-cost b {
  font-size: 13px;
  line-height: 16px;
  color: #999;
  font-weight: 500;
}

.last-cart-item {
  padding-bottom: 17px;
  border-bottom: 1px solid #cacac7;
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.navigation-container {
  width: 100%;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: right;
}

.header-contacts p:first-of-type {
  margin-bottom: 6px;
  padding-left: 10px;
  font-size: 14px;
}

.header-contacts p {
  margin: 0;
  padding: 0;
}

.header-contacts p:last-of-type {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main-header-logo {
  display: flex;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-top: 9px;
  width: 180px;
}

.site-navigation,
.catalog-navigation,
.user-navigation,
.footer-navigation {
  list-style: none;
}

.catalog-navigation {
  position: relative;
}

.navigation-item {
  padding-top: 16px;
  padding-bottom: 12px;
}

.navigation-item>a:active {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-item>a {
  padding: 7px 14px;
  font-weight: 700;
}

.navigation-item>a:focus,
.navigation-item>a:hover {
  border: 0;
  border-radius: 20px;
  color: #333;
  background-color: #f7f6f3;
}

.catalog-navigation {
  position: absolute;
  top: 45px;
  left: -6px;
  z-index: 1;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
  list-style: none;
}

.catalog-navigation p {
  margin: 0;
  border-bottom: 1px solid #d1d0ce;
  padding: 10px 0 12px 19px;
  font-weight: 700;
}

.catalog-navigation a,
.catalog-navigation p {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-navigation a {
  padding: 9px 0 6px 19px;
  font-weight: 400;
  border: 0;
}

.catalog-item a:active {
  background-color: rgba(208, 112, 88, .5);
}

.login-link {
  position: relative;
  padding-top: 16px;
  padding-bottom: 12px;
}

.login-button:before {
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-button::before,
.login-button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 21px;
}

.gllacy-slider-items h2 {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.gllacy-slider-items button {
  width: 196px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.gifts {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 0;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1146px;
}

.gifts>section {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.jam-gift {
  background-image: url(../img/bg-rasb.jpg);
  background-color: #b20026;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  min-height: 206px;
}

.choco-gift {
  background-image: url(../img/bg-choco.jpg);
  background-color: #4d2811;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  min-height: 206px;
}

.gifts h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
  padding: 15px 25px 0 18px;
}

.gifts p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 15px 25px 0 18px;
}

.gifts .button {
  align-self: flex-end;
  margin-right: 22px;
  margin-top: 45px;
  padding: 12px 23px;
}

.mini-catalog,
.cream-catalog-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 40px;
  min-height: 363px;
  list-style: none;
  width: 100%;
}

.ice-cream-card {
  position: relative;
  width: 267px;
  min-height: 324px;
  margin-bottom: 38px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ice-cream-card:focus,
.ice-cream-card:hover {
  z-index: 10;
}

.best-offers::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 15;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-position: 0 0;
}

.ice-cream-card::after {
  position: absolute;
  content: "";
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
}

.ice-cream-img {
  width: 267px;
  height: 267px;
  margin-bottom: 14px;
  border-radius: 50%;
  z-index: 9;
}

.cost {
  line-height: 45px;
  position: absolute;
  margin: 0;
  bottom: 66px;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
  z-index: 9;
}

.mini-catalog a,
.cream-catalog-item a {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.description {
  margin: 0;
  min-height: 45px;
  padding-left: 6px;
  padding-right: 7px;
  z-index: 9;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #adbdb4;
}

.fast-view {
  position: absolute;
  bottom: -55px;
  left: 30px;
  display: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.advantages {
  min-height: 256px;
  margin: 0 auto;
  padding: 24px 20px;
  border-radius: 15px;
  color: #323232;
  background-image: url(../img/waffle.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  display: flex;
}

.advantages h3 {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.advantages p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  position: relative;
  width: 50%;
  margin-bottom: 2px;
  max-width: 480px;
  padding-left: 40px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
}

.advantages-list p::before {
  left: -15px;
  content: "";
  top: -13px;
  width: 60px;
  height: 60px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-list .first::before {
  background-image: url(../img/ice-cream.svg);
}

.advantages-list .second::before {
  background-image: url(../img/cow.svg);
}

.advantages-list .third::before {
  background-image: url(../img/eco.svg);
}

.advantages-list .fourth::before {
  background-image: url(../img/thermometer.svg);
}

.news-mailing {
  padding: 0;
  margin: 40px 0;
  min-height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.news,
.mailing {
  width: 560px;
  padding-bottom: 22px;
  border-radius: 15px;
}

.news {
  margin-right: auto;
  background-image: url(../img/bg-news.jpg);
  background-position: 17% 39%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #323232;
  background-color: #ffffff;
}

.news h3 {
  margin: 23px 0 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.news a {
  display: block;
  width: 52%;
  margin-left: 20px;
  margin-top: 4px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  text-decoration: underline;
}

.mailing p {
  margin: 30px 20px;
  color: #5a5a5a;
}

.mailing form {
  margin-left: 21px;
  padding-top: 5px;
}

.mailing input[type=email] {
  font: inherit;
  color: #323232;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 13px;
  width: 339px;
}

.mailing {
  width: 549px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  background-color: #f8f7f4;
  border: 5px solid #fe9e90;
  border-image: url(../img/bg-post.svg) 5 round round;
}

.mailing .button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 9px 18px;
  margin-left: 7px;
  margin-top: -1px;
  text-align: center;
  vertical-align: top;
  color: #fefefe;
  width: 129px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  cursor: pointer;
  border-radius: 50px;
}

.main-footer {
  width: 1146px;
  margin: 0 auto;
  padding: 28px 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, .5);
  font-size: 14px;
  line-height: 18px;
}

.social-navigation {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: 0;
  justify-content: space-between;
}

.social-wrapper {
  width: 185px;
  max-width: 185px;
}

.social-button {
  display: block;
  width: 34px;
  height: 34px;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.footer-navigation {
  width: 345px;
  max-height: 48px;
  font-size: 13px;
  color: #ffffff;
  text-decoration: underline;
}

.information li {
  padding-left: 20px;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.information .for-dealers::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/heart.svg);
}

.footer-logo {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  margin-top: -10px;
}

.modal-mask {
  display: none;
}

.modal-feedback {
  top: 337px;
  left: 50%;
  margin-left: -235px;
  width: 478px;
  padding: 25px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-feedback h2 {
  margin: 0 0 25px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-item {
  margin: 0 0 20px;
  padding: 0;
}

.modal-feedback input[type=email],
.modal-feedback input[type=text] {
  width: 265px;
}

.modal-feedback input,
.modal-feedback textarea {
  padding: 9px;
  font: inherit;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.modal-feedback textarea {
  margin-bottom: 25px;
  width: 405px;
}

.button.feedback-submit {
  align-self: flex-end;
  padding: 10px 25px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::after,
.modal.close::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 18px;
  height: 3px;
  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.filters {
  margin-bottom: 39px;
}

.container h1 {
  margin-top: 2px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.filters-first-row {
  margin-bottom: 15px;
}

.filters-first-row,
.filters-second-row {
  display: flex;
}

.filters fieldset {
  margin: 0 15px 0 0;
  padding: 0;
  border: 0;
}

.filters legend {
  margin-left: 15px;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

.select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 7px 8px 7px 15px;
}

.filters-background {
  padding: 7px 12px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 25px;
}

.filters-sorting {
  padding-right: 25px;
  color: #fff;
  background-color: transparent;
  border: 0;
}

.ranges {
  position: relative;
  width: 215px;
}
