body {
  padding: 0;
  font-family: Roboto, "Arial", sans-serif;
  background-color: #849d8f;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
}

.center {
  margin: 0 auto;
  max-width: 1146px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slider-item2.png);
}

.site-wrapper::after {
  background-image: url(../img/slider-item3.png);
}

.slider {
  position: relative;
  padding-top: 270px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 65px;
  font-weight: 800;
}

.button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  cursor: pointer;
}

.slide-button {
  padding: 12px 42px;
  font-weight: 600;
  font-size: 31px;
  line-height: 37px;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 52px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, .4);
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-item2.png);
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-item3.png);
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.undecor {
  display: list-item;
  list-style: none;
}

a,
.header-contacts {
  text-decoration: none;
  color: #ffffff;
}

.navigation-label {
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.main-navigation {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
}

.site-navigation {
  width: 385px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0 0 -3px;
  justify-content: space-around;
  padding: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 310px;
}

.search-panel:hover .search-field,
.catalog-item:hover .subnavigation,
.login-link:hover .login-form,
.fill-cart:hover .cart-content {
  display: block;
}

.login-link:hover .login-button,
.search-panel:hover .search-button,
.empty-cart:hover .cart-button {
  color: #323232;
  background-color: #ffffff;
}

.login-form {
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  list-style: none;
  background: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-item {
  margin: 0 0 20px;
  padding: 0;
}

.login-form input {
  width: 212px;
  padding: 12px;
  font: inherit;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.login-form input:focus {
  padding: 11px;
  border: 2px solid rgba(46, 136, 228, .52);
  color: #323232;
}

.login-form input:hover {
  border: 2px solid rgba(154, 154, 154, .52);
  padding: 11px;
  color: #323232;
}

.links-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.links {
  margin: 0 0 0 17px;
}

.login-form-forget,
.login-form-sin-up {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  background: 0 0;
}

.button.login {
  padding: 10px 23px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.search-field {
  position: absolute;
  right: 0;
  top: 37px;
  display: none;
  margin: 0;
  padding: 20px 15px;
  border-radius: 5px;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-field input:focus {
  padding: 8px;
  border: 2px solid rgba(46, 136, 228, .52);
  color: #323232;
}

.search-field input:hover {
  padding: 8px;
  border: 2px solid rgba(154, 154, 154, .52);
  color: #323232;
}

.search-field input {
  width: 300px;
  padding: 9px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font: inherit;
  background-color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.search-panel {
  position: relative;
}

.search-panel a {
  border-radius: 50%
}

.search-button {
  position: relative;
  display: block;
  width: 33px;
  height: 33px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

.search-button svg {
  margin-right: 0;
}

.search-button::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  bottom: -4px;
}

.user-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:focus path,
.search-button:hover path,
.cart-button:focus path:last-of-type,
.cart-button:hover path:last-of-type,
.cart-button:focus circle,
.cart-button:hover circle,
.login-button:focus path,
.login-button:hover path {
  fill: #000;
}

.search-panel:focus .search-button path,
.search-panel:hover .search-button path,
.empty-cart:focus .cart-button path,
.empty-cart:hover .cart-button path,
.cart:focus .cart-button circle,
.cart:hover .cart-button circle,
.login-link:focus .login-button path,
.login-link:hover .login-button path {
  fill: #000;
}

.cart-button:focus,
.cart-button:focus-within,
.cart-button:hover,
.login-button:focus,
.login-button:focus-within,
.login-button:hover,
.search-button:focus,
.search-button:focus-within,
.search-button:hover {
  color: #323232;
  background-color: #ffffff;
}

.user-navigation li:not(:last-child) {
  margin-right: 12px;
}

.cart-button,
.login-button {
  padding: 7px 16px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .2);
}

.login-button {
  position: relative;
}

.login-button::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  bottom: -4px;
}

.fill-cart {
  border-radius: 20px;
  position: relative;
}

.fill-cart>a {
  color: #323232;
  background-color: #fff;
}

.cart-button {
  padding-right: 15px;
  position: relative;
}

.cart-button::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  position: absolute;
  bottom: -4px;
}

.cart-content {
  display: none;
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 1;
  margin: 0;
  padding: 10px 15px;
  width: 510px;
  border-radius: 5px;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-content>li {
  display: flex;
  flex-direction: column;
}

.сart-table {
  margin: 0;
  padding: 0;
  width: 520px;
  min-height: 107px;
  list-style: none;
}

.cart-item,
.cart-item a {
  display: flex;
  color: #323232;
}

.cart-item {
  position: relative;
  min-height: 51px;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
}

.delete-cart-item {
  position: absolute;
  left: -2px;
  top: 20px;
  width: 11px;
  height: 11px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
}

.order-button {
  display: flex;
  justify-content: flex-end;
}

.cart-order-button {
  align-self: flex-end;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.cart-cost span {
  margin-left: auto;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.cart-cost span,
.cart-item-img {
  margin-right: 14px;
  margin-left: 25px;
}

.cart-cost {
  min-height: 47px;
  display: flex;
  justify-content: flex-end;
}

.cart-item-cost,
.cart-item-title {
  margin-right: 30px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
}

.cart-item-price {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.cart-item-title {
  display: block;
  width: 217px;
}

.cart-item-cost b {
  font-size: 13px;
  line-height: 16px;
  color: #999;
  font-weight: 500;
}

.last-cart-item {
  padding-bottom: 17px;
  border-bottom: 1px solid #cacac7;
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: right;
}

.contacts-position {
  margin-top: -32px;
}

.header-contacts p:first-of-type {
  margin-bottom: 6px;
  padding-left: 10px;
  font-size: 14px;
}

.header-contacts p {
  margin: 0;
  padding: 0;
}

.header-contacts p:last-of-type {
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-header-logo {
  display: flex;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-top: 9px;
  width: 180px;
}

.site-navigation,
.catalog-navigation,
.user-navigation,
.footer-navigation {
  list-style: none;
}

.navigation-item {
  padding-top: 16px;
  padding-bottom: 12px;
  position: relative;
}

.navigation-item>a:active {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.navigation-item>a {
  padding: 7px 14px;
  font-weight: 700;
}

.navigation-item:focus>a,
.navigation-item:hover>a {
  border: 0;
  border-radius: 20px;
  color: #333;
  background-color: #f7f6f3;
}

.navigation-item>.active {
  background-color: #d07058;
  border-radius: 15px;
}

.subnavigation {
  position: absolute;
  top: 45px;
  left: -6px;
  z-index: 1;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.subnavigation p {
  margin: 0;
  border-bottom: 1px solid #d1d0ce;
  padding: 10px 0 12px 19px;
  font-weight: bold;
}

.subnavigation li:last-child {
  margin-bottom: 8px;
}

.catalog-navigation a:focus,
.catalog-navigation a:hover {
  background-color: rgba(208, 112, 88, .2);
}

.catalog-navigation a:active {
  background-color: rgba(208, 112, 88, .5);
}

.subnavigation .active {
  color: #fff;
  background-color: #d07058;
}

.subnavigation a,
.subnavigation p {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.subnavigation a {
  padding: 9px 0 6px 19px;
  font-weight: 400;
  border: 0;
}

.login-link {
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
}

.breadcrumbs {
  margin: 24px -6px 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.crumb,
.crumb a {
  color: #ffffff;
}

.crumb,
.crumb-active {
  position: relative;
  margin: 0;
  padding-right: 7px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.crumb::after {
  content: "»";
  padding-left: 2px;
}

.gllacy-slider-items h2 {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.gllacy-slider-items button {
  width: 196px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.gifts {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 13px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 1146px;
}

.gifts>section {
  display: flex;
  flex-direction: column;
  padding: 21px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
}

.jam-gift {
  background-image: url(../img/bg-rasb.jpg);
  background-color: #b20026;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  min-height: 206px;
}

.choco-gift {
  background-image: url(../img/bg-choco.jpg);
  background-color: #4d2811;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  min-height: 206px;
}

.gifts h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  margin: -6px;
}

.gifts p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: left;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.gifts .button {
  align-self: flex-end;
  margin-top: 20px;
  padding: 12px 23px;
}

.mini-catalog,
.cream-catalog-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 26px auto 0;
  min-height: 363px;
  list-style: none;
  max-width: 1146px;
  align-items: baseline;
}

.ice-cream-card {
  position: relative;
  width: 267px;
  min-height: 324px;
  margin-bottom: 26px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ice-cream-card:focus,
.ice-cream-card:hover {
  z-index: 10;
}

.ice-cream-card:focus::after,
.ice-cream-card:hover::after {
  background-color: rgba(248, 247, 244, .2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  z-index: 7;
}

.best-offers::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 15;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-position: 0 0;
}

.ice-cream-card::after {
  position: absolute;
  content: "";
  left: -13px;
  top: -8px;
  width: 293px;
  height: 125%;
  border-radius: 5px;
}

.ice-cream-card::after {
  position: absolute;
  content: "";
  left: -13px;
  top: -8px;
  width: 293px;
  height: 125%;
  border-radius: 5px;
}
.ice-cream-img {
  width: 267px;
  height: 267px;
  margin-bottom: 22px;
  border-radius: 50%;
  z-index: 9;
}

.ice-cream-info {
  margin-top: -63px;
  z-index: 10;
}

.price,
.value,
.weight {
  line-height: 45px;
}

.price {
  margin-top: -11px;
  margin-bottom: 23px;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
  z-index: 9;
}

.value {
  font-weight: 700;
  font-size: 45px;
}

.weight {
  margin-left: -12px;
  font-size: 30px;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.mini-catalog a,
.cream-catalog-item a {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.description {
  margin: 0;
  padding-left: 6px;
  padding-right: 7px;
  z-index: 9;
  min-height: 45px;
  text-align: center;
  position: relative;
  top: -3px;
}

.description a,
.copyright,
.crumb a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.fast-view {
  position: absolute;
  bottom: -55px;
  display: none;
  padding: 11px 27px;
  cursor: pointer;
  right: 13%;
}

.ice-cream-card:focus>.fast-view,
.ice-cream-card:hover>.fast-view {
  display: block;
  z-index: 10;
}

.advantages {
  min-height: 256px;
  margin: 0 auto;
  border-radius: 15px;
  color: #323232;
  background-image: url(../img/waffle.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}

.advantages h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  padding: 24px 20px 8px;
}

.advantages p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  position: relative;
  width: 50%;
  margin-bottom: 2px;
  max-width: 480px;
  padding-left: 40px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 10px;
  padding-bottom: 24px;
}

.advantages-list p::before {
  left: -15px;
  content: "";
  top: -13px;
  width: 60px;
  height: 60px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-list .first::before {
  background-image: url(../img/ice-cream.svg);
}

.advantages-list .second::before {
  background-image: url(../img/cow.svg);
}

.advantages-list .third::before {
  background-image: url(../img/eco.svg);
}

.advantages-list .fourth::before {
  background-image: url(../img/thermometer.svg);
}

.news-mailing {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.news-mailing>article,
.news-mailing>section {
  box-sizing: border-box;
}

.news,
.mailing {
  width: 560px;
  padding: 22px;
  padding-bottom: 28px;
  border-radius: 15px;
}

.news {
  background-image: url(../img/bg-news.jpg);
  background-position: 17% 39%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #323232;
  background-color: #ffffff;
}

.news h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  margin: 0;
}

.new-in-blog {
  margin-top: 4px;
}

.news a {
  display: block;
  width: 52%;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  text-decoration: underline;
}

.mailing p {
  color: #5a5a5a;
  margin: 0;
  padding-top: 3px;
}

.mailing form {
  padding-top: 35px;
}

.mailing input[type=email] {
  font: inherit;
  color: #323232;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 13px;
  width: 339px;
}

.mailing {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  background-color: #f8f7f4;
  border: 5px solid #fe9e90;
  border-image: url(../img/bg-post.svg) 5 round round;
}

.mailing .button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 9px 18px;
  margin-left: 6px;
  text-align: center;
  vertical-align: top;
  color: #fefefe;
  width: 129px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  cursor: pointer;
  border-radius: 50px;
}

.mailing .button:hover,
.mailing .button:focus {
  background-color: #ed705e;
  box-shadow: 0 2px 0 0 #ac1000;
  background-image: linear-gradient(90deg, #ed705e 0%, #f58669 100%);
}

.mailing .button:active {
  box-shadow: inset 0 2px 2px 0 #942718;
  background-color: #e74a35;
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
}

.main-footer {
  width: 1146px;
  margin: 0 auto;
  padding: 19px 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, .5);
  font-size: 14px;
  line-height: 18px;
}

.social-navigation {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: 0;
  justify-content: space-between;
}

.social-wrapper {
  width: 185px;
  max-width: 185px;
}

.social-button {
  display: block;
  width: 34px;
  height: 34px;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.social-button:hover {
  border: 3px solid rgba(255, 255, 255, .7);
}

.social-button:active {
  border: 3px solid rgba(255, 255, 255, 2.7);
}

.social-button:active img {
  fill: #e6ebe9;
}

.social-button:focus img,
.social-button:hover img {
  opacity: 1;
}

.social-button img {
  fill: #fff;
  opacity: .7;
}

.footer-copyright a:hover,
.footer-navigation a:active,
.footer-navigation a:focus,
.footer-copyright a:focus,
.footer-navigation a:hover,
.description a:hover,
.description a:focus {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.mailing input[type=email]:hover {
  border: 2px solid rgba(154, 154, 154, .52);
  padding: 9px 12px;
  color: #323232;
}

.mailing input[type=email]:focus {
  border: 2px solid rgba(46, 136, 228, .52);
  padding: 9px 12px;
  color: #323232;
}

.footer-navigation {
  width: 345px;
  font-size: 13px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 45px;
  align-items: flex-start;
  margin-right: -33px;
}

.footer-navigation a {
  border-bottom: 1px solid #adbdb4;
  font-weight: normal;
  margin-top: 3px;
  margin-left: 4px;
  position: relative;
}

.footer-navigation .for-dealers {
  font-weight: bold;
}

.footer-navigation .for-dealers::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/heart.svg);
  left: -18px;
  top: 3px;
  display: block;
}

.footer-logo {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 15;
}

.overlay {
  background-color: #000000;
  opacity: 0.5
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-feedback {
  top: 40%;
  left: 51.5%;
  margin-left: -235px;
  width: 478px;
  padding: 20px 26px 27px 24px;
  border-radius: 10px;
  z-index: 15;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 2px solid rgba(154, 154, 154, .52);
  padding: 8px;
  color: #323232;
}

.modal {
  position: fixed;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  max-width: 428px;
  max-height: 443px;
}

.modal-feedback h2 {
  margin: 0 0 25px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback {
  max-width: 428px;
}

.feedback-item {
  margin: 0 0 20px;
  padding: 0;
}

.modal-feedback input[type=email],
.modal-feedback input[type=text] {
  width: 265px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.modal-feedback input,
.modal-feedback textarea {
  padding: 9px;
  font: inherit;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.modal-feedback textarea {
  margin-bottom: 25px;
  width: 405px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.button.feedback-submit {
  align-self: flex-end;
  padding: 10px 25px;
  margin-left: 68%;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 47px;
  width: 18px;
  height: 3px;
  background-color: #231f20;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.map {
  height: 427px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #323232;
  background-color: #c7c6c5;
  background-image: url(../img/map.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 4px;
}

.map-frame {
  width: 100%;
  height: 430px;
}

.map-container {
  display: flex;
  justify-content: flex-end;
  width: 1146px;
  margin: 0 auto;
  position: absolute;
  top: 15%;
}

.map-legend {
  position: absolute;
  width: 252px;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 24px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  background-color: #fff;
  color: #323232;
}

.map-legend-address {
  margin: 0;
  padding: 0;
}

.map-legend strong {
  display: block;
  margin-top: 4px;
  font-size: 18px;
  line-height: 24px;
}

.map-legend-contacts {
  margin: 16px 0 0;
  padding: 0;
}

.callback-form-button {
  margin-top: 25px;
  margin-bottom: 32px;
  padding: 10px 28px;
  font-size: 18px;
  line-height: 24px;
}

.filters {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 500;
}

.filters-submit:focus,
.filters-submit:hover {
  color: #323232;
  background-color: #fff;
}

.filters-submit:active {
  padding: 10px 30px;
  color: #323232;
  background-color: #eaeaea;
  border: 0;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.filters-submit {
  align-self: center;
  padding: 8px 28px;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
  margin-left: 5px;
  margin-top: 10px;
}

button,
select {
  text-transform: none;
}

h1 {
  margin-top: -28px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.filters-first-row {
  margin-bottom: 15px;
}

.filters-first-row,
.filters-second-row {
  display: flex;
}

.filters fieldset {
  margin: 0 15px 0 0;
  padding: 0;
  border: 0;
}

.filters option {
  color: #323232;
}

.filters legend {
  margin-left: 15px;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

svg {
  overflow: hidden;
  margin-right: 6px;
}

.icon-down {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
  pointer-events: none;
  box-sizing: border-box;
}

.select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 7px 8px 7px 15px;
  background-image: url(../img/icon-down.svg);
  background-repeat: no-repeat;
  background-position: 165px 12px;
  background-size: 13px 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.price-controls {
  position: relative;
}

.price-controls,
.price-controls label {
  display: inline-block;
  vertical-align: top;
}

.price-controls label {
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.max-price,
.min-price {
  width: 60px;
  margin-right: 6px;
  margin-top: -2px;
}

.price-controls input {
  width: 55px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  background: 0 0;
  border: 0;
}

.filters input {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 0;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.price-controls::after {
  content: "-";
  position: absolute;
  font-size: 14px;
  top: 0px;
  left: 99px;
}

.ranges .filters-background {
  padding: 7px 14px;
  width: 195px;
  height: 23px;
}

.fat-level .filters-background {
  padding-right: 0;
}

.range-controls {
  position: absolute;
  top: 40px;
  left: 17px;
}

.scale {
  width: 175px;
  height: 4px;
  background: rgba(255, 255, 255, .3);
  margin-left: 5px;
}

.bar {
  width: 103px;
  height: 4px;
  background: #fff;
  margin-left: 25px;
}

.range-toggle-min {
  left: 17px;
}

.range-toggle-max {
  right: 43px;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

.checkbox-filter:checked:focus+label::before,
.checkbox-filter:checked:hover+label::before,
.checkbox-filter:focus+label::before,
.checkbox-filter:hover+label::before,
.radio-filter:checked:focus+label::before,
.radio-filter:checked:hover+label::before,
.radio-filter:focus+label::before,
.radio-filter:hover+label::before {
  opacity: 1;
}

.filters-background {
  padding: 7px 12px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 20px;
  height: 23px;
  margin: 0;
  margin-bottom: 13px;
  padding-right: 35px;
}

.filters-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
}

.filters-background ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fillers .filters-background {
  padding-right: 0;
}

.checkbox-filter+label::before {
  content: "";
  position: absolute;
  left: -32px;
  height: 25px;
  width: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: .8;
}

.checkbox-filter:checked+label::before {
  content: "";
  position: absolute;
  left: -33px;
  width: 27px;
  height: 24px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: .8;
}

.filter-option {
  display: inline-block;
  vertical-align: top;
  padding-left: 32px;
  padding-right: 14px;
  line-height: 1.5;
}

.checklist input,
.filter-option input {
  display: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.radio-filter+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -30px;
  top: -1px;
  object-fit: unset;
  opacity: 0.8;
  background-image: url(../img/radio-off.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.radio-filter:checked+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -30px;
  top: -1px;
  object-fit: unset;
  opacity: 0.8;
  background-image: url(../img/radio-on.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
}

.filters-sorting {
  color: #fff;
  background-color: transparent;
  border: 0;
  line-height: 1.5;
}

.filters-sorting:focus,
.filters-sorting:hover,
.select:hover,
.select:focus {
  color: #323232;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 165px 12px;
  background-size: 13px 15px;
}

.ranges {
  position: relative;
  width: 215px;
}

.pagination-list {
  margin-bottom: 34px;
  margin-top: 18px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  max-width: 1146px;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item a {
  padding: 4px 9px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
}

.pagination-item a:focus,
.pagination-item a:hover {
  background-color: rgba(255, 255, 255, .4);
}

.pagination-item a:active {
  background-color: #fff;
  color: #323232;
}

.prev-page svg {
  transform: rotate(180deg);
}

.active a {
  color: #323232;
  background-color: #fff;
}

.pagination-item:last-of-type {
  margin-left: -17px;
}

.modal-show {
  display: block;
  animation: bounce .6s;
}

.checklist {
  padding-right: 14px;
  padding-left: 36px;
}
